# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
Miniconda*/
*.sh

# IDE
.idea/
.vscode/
*.swp
*.swo

# Application specific
temp_previews/
pdf_list.json
*.pdfcol
collections/

# OS specific
.DS_Store
Thumbs.db

# Large files
*.pdf